@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
}
html{
  @apply scroll-smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}
::-webkit-scrollbar {
  display: none;
}
.messages-container::-webkit-scrollbar {
    width: 6px;
}
.messages-container::-webkit-scrollbar-track {
    background: transparent;
}
.messages-container::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}
.messages-container::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}


